<center>
Current list of names:  <%=name_list.join(", ")%>
<form method="post" action="add_name">
  Enter another name to add to list:<br>
  <input type="text" name="new_name" autofocus>
  <input type="submit" value="Add">
</form>
<form method="post" action="make_pairs">
  <br><input type="submit" value="Make pairs">
</form>
</center>
