<center>
<!-- Pair list: <%=pair_list.to_s%><br> -->
Here are your pairs:

<form method="post" action="reroll">
  <%counter = 0%>
  <% pair_list.each do |x| %>
    <br><input type="checkbox" name="reroll[]" value="<%=counter.to_i%>"> Pair <%=(counter + 1).to_i%>: <%# Creates a new checkbox with the return value of counter. %>
    <%= pair_list[counter].join(", ") %> <%# pair_list[x] tries to convert Array into Integer. Why?  %>
    <% counter += 1%>
  <% end %>
  <br><input type="submit" value="Make new pairs">
</form>

<form method="post" action="startover">
<input type="submit" value="Start Over">
</form>
</center>
