<!DOCTYPE html>
<html>
<head>
  <title>Display Pairs</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
<center>
<h4>Here are your pairs:</h4>
<p><form method="post" action="reroll">
  <% pair_list.each_with_index do |pair,i| %>
    <input type="checkbox" name="reroll[]" value="<%=i.to_i%>"> Pair <%=(i + 1).to_i%>: <%# Creates a new checkbox with the return value of counter. %>
    <%= pair.join(", ") %><br>
  <% end %>
  <p><input type="submit" class="button" value="Reroll Checked"></p>
</form></p>
<form method="post" action="startover">
<input type="submit" class="button" value="Start Over">
</form>
</center>
</body>
</html>
