<!DOCTYPE html>
<html>
<head>
  <title>Team Pair Maker</title>
  <!-- <link rel="stylesheet"  href="styles.css"> -->
</head>
<body onload="load_box_on_start()">
<center><div class="content">
<script src="/scripts/scripts.js"></script>
<form method="post" action="make_pairs">
  <h2>Enter names to randomize</h2>
  <p id="our_input"></p>

  <input type="submit" class="button" value="Make Groups">
</form>
<p><button class="button" onclick="new_textbox()">Add Name</button>
<button class="button" onclick="delete_last_textbox()">Remove Last</button>
</p></div>
</center>
</body>
</html>
