<!DOCTYPE html>
<html>
<head>
  <title>Team Pair Maker</title>
  <link rel="stylesheet"  href="styles.css">
</head>
<body>
<center>
<form method="post" action="add_name">
  <p>Enter name to add to list:</p>
  <input type="text" name="new_name" required="required" autofocus>
  <input type="submit" class="button" value="Add">
</form>
</center>
</body>
</html>
